.portal-header {
  border-bottom: 2px solid #4d618e;
  .logo {
    font-size: 22px;
  }
  .btn-action {
    .btn-secondary {
      color: #ffffff;
      background-color: #43afff33;
      border-color: #43afff33;
    }
  }
}
