.job-card {
  width: 320px;
  height: 220px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #557da526;
  border-radius: 5px;
  padding: 12px 15px;
  .job-title {
    color: #303f60;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
    opacity: 1;
  }
  .job-description {
    color: #303f60;
    margin: 12px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    opacity: 0.8;
  }
  .job-location {
    i {
      color: #43afff;
      font-size: 16px;
      padding: 0 5px;
    }
    .location-text {
      color: #303f60;
      text-transform: capitalize;
    }
    button {
      background: #43afff33 0% 0% no-repeat padding-box;
      border-radius: 5px;
      padding: 8px 12px;
      color: #303f60;
    }
  }
}
